#chat-interface {
    font-size: 20px;
    text-align: left;
    min-width: 78%;
    min-height: 500px;
}

#chat-menus {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

#chat-rooms {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 23%;
    height: 350px;
    overflow: auto;
}

#chat-field {
    position: relative;
    margin-right: 6%;
    width: 50%;
    height: 350px;
}

.rounded-div {
    border-radius: 10px;
    border: 2px solid gray;
    padding: 20px;
}

#messages-operations {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}

.chat-room-preview{
    display: flex;
    justify-content: center;
    background-color: #AFAFAF;
    border-radius: 10px;
    border: 2px solid lightgray;
    min-height: 13%;
    margin-top: 1%;
}

.chat-room-preview:hover{
    background-color: #909090;
}

.room-title{
    margin: auto;
}

#message-input-field{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 3%;
    width: 90%;
}

#text-input{
    width: 85%;
}

#members{
    display: flex;
    height: 13%;
    justify-content: start;
}

.user-nickname-div {
    background-color: #909090;
    height: 50%;
    border: 2px solid black;
    border-radius: 3px;
    margin: 5px;
}

.user-nickname-span{
    margin: 5px;
}

#messages{
    height: 80%;
    overflow: auto;
    border-bottom: 1px solid black;
}

.message{
    border: 2px solid gray;
    border-radius: 10px;
    margin: 1% 7% 1% 1%;
}

.message-sender{
    font-size: 17px;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.message-content{
    font-size: 20px;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.message-info{
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid black;
}

.message-time{
    font-size: 17px;
    margin-top: 2%;
    margin-right: 2%;
}

#current-username {
    font-size: 16px;
    margin-top: 1%;
}