.navbar {
    background-color: gray;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
    margin-top: 0;
    position: relative;
}

.navbar .onRight {
    float: right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 50px;
    right: 30px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    min-height: 20px;
    max-width: 450px;
}

.dropdown-content div:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.notificationUser {
    padding: 5px 5px 5px;
}

.notificationMessage {
    margin-top: 5px;
}

.navMenu {
    width: 10%;
    font-size: 20px;
    text-align: left;
    padding: 50px;
}

.navMenu div{
    position: relative;
    font-size: 20px;
    text-align: left;
    padding: 5px 5px 5px 10px;
    min-height: 20px;
    width: 100%;
    text-decoration: none;
}

.navMenu div:hover {background-color: #ddd;}

.studentsList {
    font-size: 20px;
    text-align: left;
    min-width: 78%;
    min-height: 500px;
}

.body-parent{
    display: flex;
    justify-content: normal;
}

.btn {
    background-color: white;
    border-color: black;
    border-width: 1.5px;
    color: white;
    padding: 5px 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: gray;
}

.studentsTable {
    min-width: 78%;
    height: 300px;
    overflow: auto;
}

table{
    margin-top: 5px;
    z-index: 2;
    width: 100%;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
    overflow: scroll;
    max-height: 300px;
}

.studentsTable table, th, td {
    border: 1px solid;
}

.studentsTable thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

tr {
    height: 55px;
}

th {
    top: 0;
}

.tableHeader{
    position: relative;
    top: 40%;
}

.studentStatus-indicator{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: forestgreen;
    margin: auto;
}

.studentStatus-indicator:hover {background-color: gray}

.modal-header {
    padding: 20px 20px 20px 20px;
    background-color: white;
    border: 1px solid black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.modal-body {
    padding: 2px 16px;
    border: 1px solid black;
    height: 200px;
    text-align: center;
}

.modal-footer {
    padding: 2px 16px;
    background-color: white;
    border: 1px solid black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 60px;
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    border-radius: 25px;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal {
    display: none;
    position: fixed;
    margin: auto;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 50%; opacity: 1}
}

.footer{
    position: fixed;
    bottom: 5%;
    height: 20%;
    width: 77%;
    left: 18%;
}

.footer div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-body div {
    margin-top: 1%;
    display: flex;
    float: left;
    flex-direction: column;
    align-content: center;
}

.modal-body div span{
    font-size: 20px;
    margin-left: 10%;
}

.modal-body div select, .modal-body div input {
    font-size: 20px;
    margin: 1.25%;
    width: 70%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

select:required:invalid {
    color: #666;
}